spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:api_db}
    username: ${DB_USER:api_user}
    password: ${DB_PASSWORD:api_pass}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
app:
  jwt:
    secret: ${APP_JWT_SECRET:change_this_in_prod_change_now}
    expires-in: ${APP_JWT_EXPIRES_IN:3600}